<div class="container pt-5">


    <div class="d-flex justify-content-center">
        <div class="col-lg-8  px-lg-4">
            <div class="card">

                <div class="d-flex align-items-center p-3 bg-dark text-white bg-purple rounded shadow-sm">
                    <img class="me-3" src="https://hubworks.com/assets/images/store-apps/hubworks-logo-55x51.png" alt="" width="48" height="38">
                    <div class="lh-1">
                        <h1 class="h6 mb-0 text-white lh-1">Signup</h1>
                    </div>
                </div>

                <div class="card-body p-lg-5">

                    <form [formGroup]="userForm" (ngSubmit)="formSubmitAction()">
                        <div class="row p-2">
                            <div class="col">
                                <label class="mb-2 mt-1">First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">


                                <app-form-error [hidden]="!isSubmited || userForm.controls.emailID.untouched || userForm.controls.emailID.valid" [isSubmited]="isSubmited" [control]="userForm.controls.firstName"></app-form-error>

                            </div>
                            <div class="col">
                                <label class="mb-2 mt-1">Last Name</label>
                                <input type="text" class="form-control" name="text" placeholder="last Name" formControlName="lastName">
                            </div>
                        </div>

                        <div class="row p-2">
                            <div class="col">
                                <label class="mb-2 mt-1">EmailID</label>
                                <input type="email" class="form-control" name="emailID" placeholder="EmailID" formControlName="emailID" appEmailValidator>

                                <span class="form-text text-orange" *ngIf="userForm.controls.emailID.pending">Email Validation in progress</span>


                                <app-form-error [hidden]="!isSubmited || userForm.controls.emailID.untouched || userForm.controls.emailID.valid" [isSubmited]="isSubmited" [control]="userForm.controls.emailID"></app-form-error>
                            </div>

                            <div class="col">
                                <label class="mb-2 mt-1">Select</label>
                                <select class="form-control" name="country" formControlName="country">
                                    <option value="INDIA">India</option>
                                    <option value="USA">US</option>
                                    <option value="UK">UK</option>
                                 </select>
                            </div>

                        </div>

                        <div class="row p-2">
                            <div class="col">
                                <label class="mb-2 mt-1">Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password">
                            </div>
                            <div class="col">
                                <label class="mb-2 mt-1">Confirm Password</label>
                                <input type="password" class="form-control" name="confirm_password" placeholder="Password" formControlName="confirm_password">
                            </div>
                        </div>

                        <div class="alert alert-danger" *ngIf="userForm.errors">
                            {{userForm.errors |json}}
                        </div>

                        <div class="row p-2" formArrayName="addressArray">
                            <div class="col" *ngFor="let fg of getAddressArray().controls;let i=index;" [formGroup]="fg">
                                <label class="mb-2 mt-1">Address</label>
                                <textarea class="form-control" rows="1" name="address" [formContol]="fg.controls.address"></textarea>
                            </div>


                            <!-- <div class="col" *ngFor="let fg of getAddressArray().controls;let i=index;">
                                <label class="mb-2 mt-1">Address</label>
                                <textarea class="form-control" rows="1" name="address" [formControlName]="i"></textarea>
                            </div> -->

                            <div class="col">
                                <button class="btn btn-primary" (click)="addNewAddress()">Add</button>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col">
                                <label class="mb-2 mt-1">Phone Number</label>
                                <input type="texdt" class="form-control" rows="3" name="phoneNumber" formControlName="phoneNumber" />


                                <app-form-error [hidden]="!isSubmited || userForm.controls.phoneNumber.untouched || userForm.controls.phoneNumber.valid" [isSubmited]="isSubmited" [control]="userForm.controls.phoneNumber"></app-form-error>
                            </div>

                            <div class="col">
                                <label class="mb-2 mt-1">Notification Type</label>
                                <div class="form-row align-items-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="subscriptionType" id="Subscription" formControlName="subscriptionType" (click)="subscriptionAction('Mobile')" value="Mobile" checked>
                                        <label class="form-check-label" for="Subscription">
                                            Mobile
                            </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="subscriptionType" formControlName="subscriptionType" (click)="subscriptionAction('Email')" id="Subscription1" value="Email">
                                        <label class="form-check-label" for="Subscription1">
                              Email
                            </label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row p-2">
                            <div class="col">
                                <div class="form-check mb-3">
                                    this is test
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" id="regidter" type="submit" name="registerSubmit">Register</button>
                        </div>

                    </form>
                </div>

                <div class="card-footer px-lg-5 py-lg-4">
                    <div class="text-sm ">Already have an account? <a class="text-blue">Login</a>.</div>
                </div>
            </div>
        </div>

    </div>
</div>